<template>
<div id="app">
  <h2>Whatever</h2>
  <div v-if="image">
    <img :src="image" />
    <button @click="removeImage">Remove image</button>
  </div>

  <div v-else>
    <h2>Select an image</h2>
    <input type="file" @change="onFileChange">
  </div>

</div>

</template>

<script>
    export default {
        name: 'app',
        data: function () {
          return {
            image: ""
          }
        },

        methods: {
            onFileChange(e) {
              /* console.log('onfilechange called')*/
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
              /* console.log('createImage called')*/
                var image = new Image();
              /* console.log(image)*/
                var reader = new FileReader();
                console.log(reader)
                var vm = this;
              /* console.log(vm)*/

                reader.onload = (e) => {
                    vm.image = e.target.result
                    console.log(vm.image)
                };
                if(file) {
                   reader.readAsDataURL(file);
                }
              else {
                console.error('no file selected')
              }

            },
            removeImage: function(e) {
                this.image = '';
            }
        },

    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    
    h1,
    h2 {
        font-weight: normal;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        display: inline-block;
        margin: 0 10px;
    }
    
    a {
        color: #42b983;
    }
</style>
